page-mi-credito {
    body {
        background-image: url('../assets/img/qr.jpg');
      //  background-color: #cccccc;
    }
    .hcolor{
     
        text-align: right;
        font-weight:bold;
    }

}
