page-contact {
    body {
        background-image: url("http://c8.alamy.com/comp/E1X2B4/qr-code-background-flow-vector-eps10-E1X2B4.jpg");
      //  background-color: #cccccc;
    }
    .hcolor{
        color: #009edf;
        text-align: right;
    }

}
